.idea/
local.properties
.gradle-local.properties

gradle.properties

*.log

/captures/
/.externalNativeBuild/
/build/
/output/

/app/build/
/*/build/
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

*.jks

*.ipr
*.iws

.DS_Store
Thumbs.db

/app/google-services.json
/app/google-services.xml

/.idea/previews/

*.class
*.lock

generated/

*.tmp
*.swp
*.swo
*.bak
*.orig

/obj/
.externalNativeBuild/

*.apk
*.ap_
*.aab

proguard/
proguard-android.txt
proguard-rules.pro

*.rej
.gradle
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
